<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="roadrunner">
<xacro:include filename="$(find kamagami)/urdf/kamagami.xacro"/>
<link name="cone_link">
	<visual>
		<origin xyz="0 0 0"/>
		<geometry>
			<mesh filename="$(find kamagami)/meshes/cone.dae"/>
		</geometry>
	</visual>
</link>
<gazebo reference="cone_link">
  <visual name="cone_vis">
  <transparency>0.8</transparency>
  <material>
  <ambient>1.0 0 0 0.1</ambient>
  <diffuse>1.0 0 0 0.1</diffuse>
  <specular>1.0 0 0 0.1</specular>
  <emissive>1.0 0 0 0.1</emissive>
  </material>
  </visual>
  <!--
	<material value="Gazebo/YellowTransparent"/>
  -->
</gazebo>
<joint name="cone_joint" type="fixed">
	<origin xyz="0 0 0"/>
	<parent link="base_link"/>
	<child link="cone_link"/>
	<axis xyz="0 0 -1"/>
</joint>
</robot>
